.img1{
    border: 1px solid black;
    border-radius: 100%;
    height: 100px;
}
.c1 p{
    padding-left: 10px;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 0;
    color: black;
}
.c2{
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
}
.c2 ion-card-title{
    font-size: 0.91rem;
}
.c3{
    margin-top: 1px;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
}
