.back {
    float: left;
    color: white;
    margin-left: 10px;
}

.ion-button {

    margin-top: 25px;
}

ion-toolbar {
    --background: #cf3c4f;
}

.duration {
    --background: white;
    color: black;
}


ion-item {
    border-bottom: 1px solid rgb(211, 211, 211);
}