
.myStore{
    padding-left: 5px;
  }
  .channel{
    float: right;
    padding-right:5px ;
  }
  
  .img{
    width: 100%;
    // position: relative;
    // z-index: 0;
  }
  
  ion-card-header{
    padding-bottom: 0px;
    padding-top: 0;
  }
  
  ion-card-title{
    font-weight: bold;
  }
  .seats{
   bottom: 5px;
   font-size: 1rem;
  }