<ion-content>
  <ion-slides [pager]=true>

    <ion-slide>
      <div class="slide">
        <br>
        <br>
        <br>
        <br>
        <img style="width: 100%;" src="assets/s1.jpg" />
        <h2>1. Connect Your Account</h2>
        <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione iste sapiente eius, fugiat perspiciatis
        </p> -->
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <br>
        <br>
        <br>
        <br>
        <img style="width: 100%;" src="assets/s2.jpg" />
        <h2>2. Create A Session</h2>

      </div>
    </ion-slide>




    <ion-slide>
      <div class="slide">
        <br>
        <br>
        <br>
        <br>
        <img style="width: 100%;" src="assets/s3.jpg" />
        <h2>3. Share And Earn !</h2>

        <ion-button (click)="continue()" fill='clear' style="color:red">Continue <ion-icon slot="end"
            name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>